@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductInventorySystem.Models.Category

<div class="mb-3">
    <h5 class="fw-bold">Category Details</h5>
    <dl class="row">
        <dt class="col-sm-4">Name</dt>
        <dd class="col-sm-8">@Model.CategoryName</dd>
    </dl>
</div>
